<!DOCTYPE html>
<html lang="en-es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= message %></title>
    <!-- STYLES CSS-->
    <%- include('./partials/head.ejs') %>

    <style>
        .container-center {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            width: 100vw;
        }

    </style>
</head>
<body>
    <div class="container-center">
        <p class="h1 text-danger" style="font-size: 100px; width: 100%; text-align: center;"> <%= message %> </p>
        <a class="btn btn-primary mt-5" href="/movies" style="width: 150px; height: 50px; font-size: 20px;"> Back </a>
    </div>
</body>
</html>